@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Benne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Brawler&family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfd3c2;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: #dfd3c2;
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-screen {
  font-family: "Tangerine";
  font-size: 130px;
}

.logo-container {
  height: 140px;
  width: 200px;
  text-align: center;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 0px 24px;
  position: sticky;
  top: 0;
  background-color: #030303;
}

.navbar-links {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-top: 17px;
  margin-right: 16px;
}

.navbar-logo p {
  color: #dfd3c2;
  font-size: 30px;
  font-family: "Tangerine";
  padding-left: 20px;
}

.navbar-logo svg {
  width: 61px;
  margin-left: 42px;
  margin-top: -6px;
}

.navbar-links p {
  color: #dfd3c2;
  font-size: 18px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.landing-page {
  width: 100%;
  height: 100vh;
  background-color: #030303;
  display: flex;
  position: relative;
}
.hero-img-container {
  width: 50%;
}

.shadow {
  width: 100%;
  background: linear-gradient(#03030300, #030303);
  height: 150px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.hero-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 43px;
  position: absolute;
  left: -20px;
}

.hero-image {
  height: 90vh;
  position: absolute;
  bottom: 0;
  left: 280px;
  z-index: 2;
}

.hero-title {
  color: #dfd3c2;
  font-size: 150px;
  text-align: end;
  overflow: hidden;
  height: 190px;
  font-family: "Playfair Display";
  letter-spacing: 4px;
}

.part-two {
  min-height: 660vh;
  width: 100%;
  background-color: #030303;
  display: flex;
  justify-content: center;
}

.box-expand {
  width: 90%;
  /* background: rgb(207, 81, 61); */
  background-color: #030303;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headline-tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.headline-tags h2 {
  font-size: 186px;
  text-align: center;
  margin-top: 500px;
  color: #dfd3c2;
}

.math-tag h2 {
  margin-top: 300px;
}

.ht-one {
  font-size: 140px;
  height: 275px;
}
.ht-two {
  height: 227px;
}

.scroller-icon {
  position: absolute;
  left: 100px;
  top: 500px;
}

.maths-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maths-block p {
  color: #dfd3c2;
}

.maths-text {
  width: 650px;
  position: absolute;
  top: 2067px;
  left: 172px;
  font-size: 24px;
}

.maths-text p {
  overflow: hidden;
  font-size: 27px;
  height: 38px;
  font-family: "Brawler";
}

.maths-text svg {
  position: absolute;
  top: -68px;
  height: 100;
  width: 100;
}

#mt-one {
  font-family: "Poppins";
  font-size: 100px !important;
  letter-spacing: 2px;
  height: 116px;
}

#pt-one {
  font-family: "Poppins";
  font-size: 90px !important;
  letter-spacing: 2px;
  height: 115px;
}

#bt-one {
  font-family: "Poppins";
  font-size: 60px !important;
  letter-spacing: 2px;
  height: 90px;
}

.presenter-text p {
  overflow: hidden;
  font-size: 30px;
  height: 38px;
  font-family: "Brawler";
}
.presenter-text svg {
  position: absolute;
  top: -65px;
  height: 100;
  width: 100;
}

.badass-text {
  width: 482px;
  position: absolute;
  top: 1342px;
  right: 35px;
  font-size: 29px;
}
.badass-text p {
  overflow: hidden;
  font-size: 25px;
  height: 38px;
  font-family: "Brawler";
  color: #dfd3c2;
}
.badass-text svg {
  position: absolute;
  top: -110px;
  height: 100;
  width: 100;
}

.hf-pink {
  width: 800px;
  margin-right: 360px;
  margin-top: 160px;
  box-shadow: 0px 4px 16px 7px #00000017;
}

.hf-blue {
  width: 400px;
  position: absolute;
  top: 1785;
  left: 870;
  box-shadow: 0px 4px 16px 7px #00000017;
}

.hf-presenter {
  position: absolute;
  top: 800px;
  width: 400px;
  /* right: 100px;
  margin-bottom: 300px; */
  box-shadow: 0px 4px 16px 7px #272131b3;
}

.presenter-block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.presenter-tag svg {
  margin-top: -170px;
}

.show-gif {
  width: 680px;
  top: 900;
  right: -22;
  position: absolute;
  box-shadow: 0px 4px 16px 7px #272131b3;
}

.hf-presenter-two {
  z-index: 3;
  width: 490px;
  position: absolute;
  top: 960px;
  left: 150;
  box-shadow: 0px 4px 16px 7px #272131b3;
}

.hf-stage {
  width: 500px;
  top: 1300;
  position: absolute;
  right: -40px;
  box-shadow: 0px 4px 16px 7px #272131b3;
}

.presenter-text {
  width: 700px;
  position: absolute;
  top: 1280px;
  left: 30px;
  font-size: 29px;
}

.presenter-text p {
  color: #dfd3c2;
  overflow: hidden;
  font-size: 25px;
  height: 45px;
}

.badass-block {
  margin-top: 800px;
  position: relative;
}

.hf_tach {
  width: 800px;
  position: absolute;
  top: 1250;
  left: 67;

  box-shadow: 0px 4px 16px 7px #23312c63;
}

.hf_kids {
  width: 519px;
  position: absolute;
  top: 1600;
  left: 784;
  box-shadow: 0px 4px 16px 7px #23312c63;
  z-index: 2;
}
